<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aplicaciones</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <style>

            .nav-link{
                color: #c0c0c0;
            }
            .nav-link:hover {
                color:#2B5F4A ;
            }
            p{
              text-align: justify
            }
            @media (max-width: 766px) {
            img {
              width: 100%;
              height: auto;
            }
          }
          @media (min-width: 766px) {
            img {
              width: 100%;
              height: auto;
            }
          }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary  " style=" padding-right:30px ; padding: 20px; background-color: #212529 !important;" >
            <div class="container-fluid sm-justify-content-end">
    
                
                    
                <a href="/" class="navbar-brand " style="padding-left: 30px;">
                   
                    <div class="row align-items-center">
                      <div class="col-4 justify-content-center  " style="margin-right: -25px;">
                        <img src="../static/protection.png" width="80px" height="80px" class="img-fluid mr-2" >
                      </div>
                      <div class="col-4">
                        <h3 style="color: #C7E5D4;">Homomorphic<br> Encrypt</h3>
                      </div>
                    </div>
                 </a>
              <button class="navbar-toggler   bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              
              <div class="collapse navbar-collapse justify-content-center text-center" id="navbarSupportedContent">
                <div class="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                  <li class="nav-item">
                    <a class="nav-link" href="#QueEs"> ¿Qué es? </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="#">¿Para qué sirve? </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Base matemática </a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">Aplicaciones </a>
                  </li>
                  <li><a class="ml-5" href="/register"  ><button class="btn btn-outline-primary" type="button">¡Regístrate!</button></a></li>
                </ul>
                
              </div>
            </div>
            </div>
            </div>
          </nav>

<section>
    <div class=" container">
                <div class="row">
                  <div class="col-1">  </div>
                    <div class="col-12 col-md-10 text-center mt-3 mt-md-5">
                        <h3> Aplicaciones de la criptografía homomorfica en la vida real </h3>
                        <p>Imaginemos un escenario en el que una organización o un individuo desea aprovechar los servicios de almacenamiento y procesamiento en la nube para realizar operaciones en sus datos, pero también quiere asegurarse de que la información confidencial permanezca protegida. Aquí es donde entra en juego la criptografía homomórfica.

                    </div>
                    <div class="col-1"></div>
                  </div>

                <div class="row">
                    <h5 class="text-center">Procesamiento de datos en la nube</h5>
                    <div class="container mb-5">
                      <div class="row mb-5 justify-content-center">
                                <div class="col-12 col-md-2 mt-3 mb-3">
                                <img src="../static/cloud-data.png"  >
                              </div>
                              <div class="col-12 col-md-8 ">
                                  <p >Con la criptografía homomórfica, los datos se cifran utilizando un esquema criptográfico adecuado que permite realizar operaciones sobre ellos sin la necesidad de desencriptarlos. Por ejemplo, se pueden realizar operaciones de búsqueda o cálculos estadísticos directamente en los datos cifrados almacenados en la nube, sin que el proveedor del servicio pueda acceder al contenido original.</p>
                                  <p>Esto significa que la organización o el usuario pueden aprovechar los recursos de procesamiento en la nube sin comprometer la privacidad de sus datos. La información sensible permanece encriptada y solo el resultado de las operaciones se obtiene en forma cifrada, preservando la confidencialidad.</p>
                                  <p>Esta capacidad de procesamiento de datos encriptados en la nube tiene aplicaciones en diversos campos. Por ejemplo, en el ámbito de la investigación médica, los investigadores pueden realizar análisis encriptados en datos de pacientes almacenados en la nube sin violar la privacidad de los individuos. También puede ser útil en entornos empresariales donde se necesite colaboración en el análisis de datos confidenciales sin revelar la información subyacente.</p>    
                                </div>
                                </div> 

                        <div class="col-4"></div>
                      
                    </div>
                    <div class="row">
                      <h5 class="text-center">Privacidad en el análisis de datos</h5>
                      <div class="container mb-5">
                        <div class="row mb-5 justify-content-center">
                                  <div class="col-12 col-md-2 mt-3 mb-3">
                                  <img src="../static/compliant.png"  >
                                </div>
                                <div class="col-12 col-md-8 ">
                                    <p >En muchas situaciones, existen datos sensibles que se recopilan y almacenan para su análisis, como datos médicos, financieros o personales. Sin embargo, la divulgación indebida de estos datos puede plantear riesgos significativos para la privacidad y la seguridad de las personas involucradas.</p>
                                    <p>La criptografía homomórfica como ya hemos mencionado previamente nos  ofrece una solución a este desafío al permitir que se realicen operaciones en los datos encriptados sin revelar su contenido original. Esto es especialmente valioso en el análisis de datos, ya que los investigadores, analistas y empresas pueden trabajar con datos sensibles sin necesidad de acceder a la información subyacente.</p>
                                    <p>En términos de las empresas que estarían más interesadas en utilizar la criptografía homomórfica, podemos identificar varias industrias y campos de aplicación:</p>    
                                    <ul>
                                      <li><p>Sector de la salud: Las organizaciones de atención médica y los investigadores médicos a menudo necesitan acceder a datos de pacientes para realizar análisis y estudios. La criptografía homomórfica permite el análisis de datos confidenciales sin revelar información personalmente identificable, lo que es fundamental para proteger la privacidad de los pacientes.</p></li>
                                      <li><p>Industria financiera: Las instituciones financieras y las empresas que manejan datos financieros confidenciales pueden beneficiarse de la criptografía homomórfica. Permite realizar cálculos en los datos encriptados, como análisis de riesgos o detección de fraudes, sin revelar detalles sensibles de las transacciones o cuentas individuales.</p></li>
                                      <li><p>Empresas de análisis de datos: Las empresas que se dedican al análisis de datos, especialmente aquellas que manejan grandes volúmenes de información sensible, pueden utilizar la criptografía homomórfica para garantizar la privacidad de los datos de sus clientes. Esto les permite realizar análisis y generar información valiosa sin tener acceso directo a los datos confidenciales.</p></li>
                                      <li><p>Investigación científica: En diversos campos de investigación, como la genética, la biología o la astronomía, se manejan grandes conjuntos de datos confidenciales. La criptografía homomórfica permite el análisis seguro de estos datos sin poner en riesgo la privacidad de los individuos o la confidencialidad de la información.</p></li>
                                    </ul>
                                  </div>
                                  </div> 
  
                          <div class="col-4"></div>
                        
                      </div>
                 </div>

                 <div class="row">
                  <h5 class="text-center">Seguridad en el procesamiento de pagos</h5>
                  <div class="container mb-5">
                    <div class="row mb-5 justify-content-center">
                              <div class="col-12 col-md-2 mt-3 mb-3">
                              <img src="../static/credit-card.png"  >
                            </div>
                            <div class="col-12 col-md-8 ">
                                <p >En el ámbito de los pagos electrónicos, la criptografía homomórfica ofrece una solución prometedora para garantizar la seguridad y la privacidad de las transacciones. Permite realizar operaciones criptográficas en los datos cifrados, como sumas y verificaciones, sin necesidad de desencriptar la información sensible.</p>
                                <p>La seguridad en el procesamiento de pagos es de vital importancia, ya que implica la transferencia de información financiera confidencial, como números de tarjetas de crédito o cuentas bancarias. La utilización de criptografía homomórfica en este contexto presenta varias ventajas:</p>   
                                <ul>
                                  <li><p>Confidencialidad: La criptografía homomórfica garantiza la confidencialidad de los datos financieros. Los datos se cifran antes de ser enviados para su procesamiento, lo que evita que terceros no autorizados accedan a la información sensible. Esto reduce el riesgo de interceptación o robo de datos durante la transmisión.</p></li>
                                  <li><p>Protección de datos sensibles: Al utilizar criptografía homomórfica en el procesamiento de pagos, los proveedores de servicios y las instituciones financieras pueden realizar operaciones en los datos cifrados sin necesidad de conocer los detalles específicos de la transacción. Esto protege los datos sensibles de los usuarios, como los montos de las transacciones o los detalles de los productos comprados.</p></li>
                                  <li><p>Prevención de fraudes: La criptografía homomórfica también puede contribuir a la prevención de fraudes en los pagos electrónicos. Al permitir realizar operaciones criptográficas en los datos cifrados, se pueden realizar verificaciones y validaciones seguras sin exponer los detalles confidenciales. Esto ayuda a detectar y prevenir transacciones fraudulentas o sospechosas sin revelar información sensible a terceros.</p></li>
                                  
                                 </ul>
                              </div>
                              </div> 

                      <div class="col-4"></div>
                    
                  </div>
             </div>
             <div class="row">
              <h5 class="text-center">Futuras líneas de trabajo</h5>
              <div class="container mb-5">
                <div class="row mb-5 justify-content-center">
                          <div class="col-12 col-md-2 mt-3 mb-3">
                          <img src="../static/road.png"  >
                        </div>
                        <div class="col-12 col-md-8 ">
                           
                            <ul>
                              <li><h6>Procesamiento de datos confidenciales:</h6><p> La criptografía homomórfica da la capacidad de poder analizar datos cifrados anonimizando completamente el propietario de los mismos, por ejemplo, un médico podría sacar patrones de comportamiento de las células analizando miles de diagnósticos médicos cifrados con el objetivo de poder detectar en una fase más temprana enfermedades mortales y poder prevenirlas.</p></li>
                              <li><h6>Privacidad de la computación en la nube:</h6><p>Este tipo de computación permite realizar cálculos sobre datos cifrados en la nube, lo que nos ofrece una mayor privacidad y seguridad, sobre todo los datos sensibles..</p></li>
                              <li><h6>Colaboración segura entre entidades :</h6><p>Esta tecnología nos permite facilitar la colaboración segura entre entidades sin necesidad de compartir datos sin cifrar, ambas entidades pueden operar sobre los datos sin la necesidad de descifrarlos sin revelar datos específicos.</p></li>
                              
                             </ul>
                          </div>
                          </div> 

                  <div class="col-4"></div>
                
              </div>
         </div>
               </div>
                    
              </div>   
   
</section>

<footer class="bg-dark text-light pt-4  pb-5" >
  <div class="container">
    <div class="row ">
      <div class="col-12 ">
        <h4 class="text-center">Información de contacto</h4>
        <p class="text-center">Javier Matilla Martín:  <a href="https://www.linkedin.com/in/javier-matilla-mart%C3%ADn-10a3a3246/" style="text-decoration: none; color: #2B5F4A;">linkedin.com/in/javier-matilla-mart/</a></p>
        <p class="text-center">Juan Camilo Muñoz Salazar: <a href="https://www.linkedin.com/in/juancamilomunozsalazar/" style="text-decoration: none; color: #2B5F4A;">linkedin.com/in/juancamilomunozsalazar/</a></p>

      </div>
     
     
    </div>
    <hr>
    <p class="text-center">Master en seguridad de la información y las comunicaciones, Universidad Europea. </p>
  </div>
</footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>   
    </body>
</html>