{% extends "layoutLog.html" %}

{% block content%}
<div style="background-color: #BBDFCD;">
  <div class="container py-4" >
    <header class="pb-3 mb-4 border-bottom" style="border-color: black; border-width: 1px;">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/static/logo3.png" width="432" height="205" class="mx-auto d-block">
      </a>
    </header>

    <div class="p-5 mb-4 rounded-3 row display-5 d-flex" style="background-color: #C7E5D4; ">
      <div class="container-fluid py-3" style="float: left;">
	<div class="d-flex align-items-center justify-content-center">
  		<h1 class="display-5 fw-bold">¡Saludos!</h1>
	</div>
	<p class="col-md-12 fs-4 text-center">
	 ¡Explora el fascinante mundo de la criptografía homomórfica y sus aplicaciones en la vida cotidiana! Descubre cómo esta poderosa técnica de cifrado protege tus datos mientras preserva la privacidad. Acompáñanos en este viaje de conocimiento y aprendizaje.
	</p>
        <p class="col-md-8 fs-4">Contenidos de esta página:</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Qué es la criptografía homomórfica</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Para qué sirve la criptografía homomórfica</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Base matemática</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Aplicaciones interesantes de la criptografía homomórfica</p>
        <p class="col-md-8 fs-5"></p>
        <a href="/register"><button class="btn btn-outline-dark btn-lg" type="button">¡Regístrate!</button></a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>¿Sabías que es empleada en la protección de datos en la nube?</h2>
          <p>La criptografía homomórfica es crucial para la seguridad y la privacidad en el almacenamiento y procesamiento de datos en la nube.</p>
          <a href="/cloud_security"><button class="btn btn-outline-light" type="button">¿Quieres saber más?</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>¡Retos disponibles!</h2>
          <p>Hemos añadido una serie de retos y preguntas para los usuarios registrados con las que podrás afianzar los conocimientos adquiridos en la página! Los retos irán desde responder unas preguntas hasta la verificación de códigos.</p>
          <a href="/login"><button class="btn btn-outline-secondary" type="button">Retos</button></a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}


