
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
   
</head>
<body class="vh-75 " style="background-color: rgb(43,95,74);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6" >
                <div class="card mb-5 text-white" style="border-radius: 1rem; background-color: #C7E5D4;">
                    <div class="card-body  p-5 pb-0 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold" style="color: black;"><img src="/static/register.png" style="height:10%; width: 10%;"></img> Registro de cuenta</h2>
                            <p class="text-white mb-3 text-muted">Introduce tus datos para acceder a todas las características de la pagina</p>

                            <form action='/register' class="form-white mb-4" method="POST">
                                
                                <p class="text-muted" style="text-align: left;">Nombre</p> 
                                <input type="name" name="inputName" class="form-control form-control-lg mb-3" placeholder="Introduce el nombre"/>

                                <p class="text-muted" style="text-align: left;">Apellidos</p> 
                                <input type="name" name="inputSurnames" class="form-control form-control-lg mb-3" placeholder="Introduce los apellidos"/>

                                <p class="text-muted" style="text-align: left;">Correo electronico</p> 
                                <input type="email" name="inputEmail" class="form-control form-control-lg mb-3" placeholder="Introduce el correo electronico"/>

                                <p class="text-muted" style="text-align: left;">Nombre de cuenta</p> 
                                <input type="text" name="inputNick" class="form-control form-control-lg mb-3" placeholder="Introduce tu nickname"/>

                                <p class="text-muted" style="text-align: left;">Contraseña</p>
                                <input type="password" name="inputPwd" class="form-control form-control-lg mb-3" placeholder="Introduce la contraseña"/>

                                <button class="btn btn-success mt-3" style="width: 80%; border:none ;border-radius: 10px; background-color: #2B5F4A ;" type="submit">¡Regístrate!</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
