<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>votacion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         <style>
            .nav-link{
                color: #c0c0c0;
            }
            .nav-link:hover {
                color:#2B5F4A ;
            }

            .col-4:hover {
                transform: scale(1.1); /* Aumenta el tamaño del contenedor */
             }

            
         </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #2e2e2e; padding-right:30px ; padding: 20px;">
            <div class="container-fluid">
                <a href="/" class="navbar-brand " style="padding-left: 30px;">
                    <div class="row align-items-center">
                      <div class="col-4 justify-content-center  " style="margin-right: -25px;">
                        <img src="../static/protection.png" width="80px" height="80px" class="img-fluid mr-2" >
                      </div>
                      <div class="col-4">
                        <h3 style="color: #C7E5D4;">Homomorphic<br> Encrypt</h3>
                      </div>
                    </div>
                  </a>
                
              <div class="collapse navbar-collapse justify-content-end " style=" margin-right: 100px;" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  
                  <a class="nav-link" href="#QueEs"> ¿Qué es? </a>
                  <a class="nav-link" href="#">¿Para qué sirve? </a>
                  <a class="nav-link" href="#">Base matemática </a>
                  <a class="nav-link" href="#">Aplicaciones </a>
                  <a class="nav-link" href="/votaciones">Votaciones </a>
                  <a class="nav-link" href="#">Cerrar sesión </a>
                </div>
              </div>
            </div>
          </nav>
        <div class="container">
            <div class="row text-center" style="margin-bottom: 100px;">
                <div class="mb-5">
                <h1 class="mt-5 mb-5 " >¡ Vota por tu apartado favorito !</h1>
                </div>
                <div class="d-flex justify-content-center col-4">
                    <div class="" style="width: 18rem;">
                    <img src="../static/question-mark.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">¿Qué es?</h5>
                          <p class="card-text">En este apartado aprendiste, que es la criptografía homomórfica.</p>
                          <a href="#" id="voto_que_es" class="btn btn-success">¡ Votar !</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-4">
                    <div class="" style="width: 18rem;">
                        <img src="../static/think.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Base matemática</h5>
                          <p class="card-text">En este apartado aprendiste, sobre los fundamentos Matemáticos en algunos sistemas de cifrado homomórficos.</p>
                          <a href="#" id="voto_base_matematica" class="btn btn-success">¡ Votar !</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-4">
                    <div class="" style="width: 18rem;">
                    <img src="../static/working.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Aplicaciones</h5>
                          <p class="card-text">En este apartado aprendiste, Sobre las distintas aplicaciones de la criptografía homomorfica en la vida real.</p>
                          <a href="#" id="voto_aplicaciones" class="btn btn-success">¡ Votar !</a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
          
        <footer class="bg-dark text-light pt-4 " >
            <div class="container">
              <div class="row ">
                <div class="col-12 ">
                  <h4 class="text-center">Información de contacto</h4>
                  <p class="text-center">Javier Matilla Martín:  <a href="https://www.linkedin.com/in/javier-matilla-mart%C3%ADn-10a3a3246/" style="text-decoration: none; color: #2B5F4A;">linkedin.com/in/javier-matilla-mart/</a></p>
                  <p class="text-center">Juan Camilo Muñoz Salazar: <a href="https://www.linkedin.com/in/juancamilomunozsalazar/" style="text-decoration: none; color: #2B5F4A;">linkedin.com/in/juancamilomunozsalazar/</a></p>
    
                </div>
               
               
              </div>
              <hr>
              <p class="text-center">Master en seguridad de la información y las comunicaciones, Universidad Europea. </p>
            </div>
          </footer>
   
    </body>
 
</html>

<script>
  document.getElementById("voto_que_es").addEventListener("click", function() {
      fetch('https://homomorphicEncrypt.he/votaciones', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({opcion: 'que_es'})
      });
  });
  
  document.getElementById("voto_base_matematica").addEventListener("click", function() {
      fetch('https://homomorphicEncrypt.he/votaciones', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({opcion: 'base_matematica'})
      });
  });
  
  document.getElementById("voto_aplicaciones").addEventListener("click", function() {
      fetch('https://homomorphicEncrypt.he/votaciones', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({opcion: 'aplicaciones'})
      });
  });
  </script>